<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <nav>
    <a href="">All Products
    </a>
    <a href="">Become a Reseller

    </a>
    <a href="">Merch Store
    </a>
    <a href="">Marketplace
    </a>
    <a href="">Sign in
    </a>
    <a href="">Create Account
    </a>
   </nav>

   <div>
    <h1>Quality Prints</h1>
    <h3>Shipped to your doorstep</h3>
    <p>What would you like to print today?</p>
    <p>
        Search for Business cards, T-shirt, Mugs e.t.c
        </p>
   </div>

   <section>
    <div>
    <h1>Popular Products</h1>
    <p>See All Products</p>
</div>
   </section>

    <form action="welcome" method="post">
        <button class="submit">Go to welcome</button>
    </form>
</body>
</html>